<h1>Article Managament</h1>
My articles come in veriety of books and articles in PDF format<br/>
Each article has one or more authors. An author usually has many books or articles.<br/>
An article connects to the author(s) via an entity called 'writing'<br/>
You can click on these items to go to their pages:<br/>
<%= link_to 'Authors', authors_path %><br>
<%= link_to 'Articles', articles_path %><br>
<%= link_to 'Writings', writings_path %><br>
Have fun!
